.keyboard-wrapper {
   margin: 0 auto;
}

.keyboard {
   display: flex;
   flex-wrap: wrap;
   width: 759px;
   gap: 5px;
}

.key {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: grey;
   font-weight: bold;
   color: white;
   border-radius: 5px;
   /*user-select: none;*/
   transition: all 0.3s ease;
   border: 0;
   padding: 0;
}

.input__area {
   width: 750px;
   height: 30vh;
   margin: 0 auto;
}

.key:hover {
   cursor: pointer;
   opacity: 0.7;

}

.functional {
   background-color: black;
   color: grey;
}

.size1 {
   height: 45px;
   width: 45px;
}

.size2 {
   height: 45px;
   width: 52px;
}

.size3 {
   height: 45px;
   width: 99px;
}

.size9 {
   height: 45px;
   width: 343px;
}

.active {
   background-color: aqua;
}

.hidden {
   display: none;
}